<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://clickgo20190825101140.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c84e74cc-98b8-4bff-8222-f0ea1891d8b6/resourceGroups/clickandgo/providers/Microsoft.Web/sites/ClickGo20190825101140</ResourceId>
    <UserName>$ClickGo20190825101140</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://clickgo20190825101140.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>