<div class="register-photo">
    <div class="form-container" style="width: 341px;margin-top: 9px;height: 524px;">
        <form method="post" style="height: 519px;" (ngSubmit)='updateCarDetails()' #paymentForm="ngForm">
            <h2 class="text-center logo" style="margin-bottom: -5px;height: 53px;"><strong>Click &amp; Go</strong></h2>
            <h2 class="text-center" style="width: 549px;"><strong>Register Your Motor Vehicle</strong></h2>
            <p  class="text-center">Please register your motor vehicle</p>
            <div class="form-group">
              <input class="form-control d-inline-flex" type="email" name="Vehicle" placeholder="Type of Vehicle" [(ngModel)]="data.VehicleType" style="background-color: rgba(201,200,200,0.24);width: 150px;">
              <input class="form-control d-inline-flex" type="email" name="Make" placeholder="Make" [(ngModel)]="data.Make" style="width: 150px;margin-left: 20px;">
              <input class="form-control d-inline-flex" type="email" name="Year" placeholder="Year" [(ngModel)]="data.Year" style="width: 150px;margin-left: 20px;">
              <input class="form-control d-inline-flex" type="email" name="Model" placeholder="Model" [(ngModel)]="data.Model" style="width: 150px;margin-left: 20px;">
              <input class="form-control d-inline-flex" type="email" name="district" placeholder="Color" [(ngModel)]="data.Color" style="width: 150px;margin-left: 20px;">
              <input class="form-control d-inline-flex" type="email" name="Body" placeholder="Body Type" [(ngModel)]="data.BodyType" style="width: 150px;margin-left: 20px;">
              <input class="form-control d-inline-flex" type="email" name="country" placeholder="Engine Number" [(ngModel)]="data.EngineNumber" style="width: 150px;margin-left: 20px;">
              <input class="form-control d-inline-flex" type="email" name="trn" placeholder="Chassis Number" [(ngModel)]="data.ChassisNumber" style="width: 150px;margin-left: 20px;">
              <input class="form-control d-inline-flex" type="email" name="Plate" placeholder="Reg. Plate No." [(ngModel)]="data.PlateNumber" style="width: 150px;margin-left: 20px;">
              
              <mat-form-field style="margin-left: 24px; width: 160px">
                  <input matInput [matDatepicker]="picker1" [(ngModel)]="data.RegIssue" name='RegIssue' placeholder="Reg Issue Date">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
              
              <mat-form-field style="margin-left: 24px; width: 120px">
                  <input matInput [matDatepicker]="picker2" [(ngModel)]="data.RegExpire" name='RegExpiry' placeholder="Reg Expire Date">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>

              <mat-form-field style="margin-left: 24px; width: 160px">
                  <input matInput [matDatepicker]="picker3" [(ngModel)]="data.FitIssue" name='FitIssue' placeholder="Fitness Issue Date">
                  <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                  <mat-datepicker #picker3></mat-datepicker>
              </mat-form-field>

              <mat-form-field style="margin-left: 24px; width: 160px">
                  <input matInput [matDatepicker]="picker4" [(ngModel)]="data.FitExpiry"  name='FitExpiry' placeholder="Fitness Expiration">
                  <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                  <mat-datepicker #picker4></mat-datepicker>
              </mat-form-field>

              
            
              <input class="form-control d-inline-flex" type="email" name="InsuranceName" placeholder="Name of Insurance" [(ngModel)]="data.InsuranceName" style="width: 150px;margin-left: 20px;padding-left: 0px;">
              <input class="form-control d-inline-flex" type="email" name="PolicyNumber" placeholder="Policy Number" [(ngModel)]="data.PolicyNumber" style="width: 150px;margin-left: 20px;">

              <mat-form-field style="margin-left: 24px; width: 160px">
                  <input matInput [matDatepicker]="picker5" [(ngModel)]="data.PolicyIssueDate"  name='FitExpiry' placeholder="Policy Issue Date">
                  <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                  <mat-datepicker #picker5></mat-datepicker>
              </mat-form-field>

              <mat-form-field style="margin-left: 24px; width: 160px">
                  <input matInput [matDatepicker]="picker6" [(ngModel)]="data.PolicyExpiryDate"  name='FitExpiry' [(ngModel)]="data.PolicyExpiryDate" placeholder="Policy Expiry Date">
                  <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                  <mat-datepicker #picker6></mat-datepicker>
              </mat-form-field>
<br>
            <a class="btn btn-primary  d-inline-flex" href='/ownerDash' routerLinkActive="router-link-active"  style=" padding: 10px 24px;margin-top: 22px; margin-left: 139px;">Back</a>
              <input class="btn btn-primary  d-inline-flex" type="submit" value="Continue" style="padding: 10px 24px;margin-top: 22px;margin-left: 20px">
              </div></form>
    </div>
</div>