<div class="register-photo">
  <div class="form-container" style="width: 341px;">
      <form method="post"  (ngSubmit)='resetPassword()' #paymentForm="ngForm">
          <h2 class="text-center logo" style="margin-bottom: -5px;"><strong>Click &amp; Go</strong></h2>
          <h2 class="text-center">Reset Password</h2>
          <div class="form-group"><label >{{data.email}}</label>
          </div>
          <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password" [(ngModel)]="data.Password"></div>
          <div class="form-group"><input class="form-control" type="password" name="password-repeat" placeholder="Password (repeat)" [(ngModel)]="data.Password1">
          </div>
          <div class="form-group"><input class="btn btn-primary btn-block" value="Reset" type="submit" /></div>
          </form>
        </div>
        </div>
        
         

