<div class="register-photo">
  <div class="form-container">
      <form method="post" (ngSubmit)="reset()" #loginForm="ngForm">
          <h2 class="text-center logo" style="margin-bottom: -1px;"><strong>Click &amp; Go</strong></h2>
          <h2 class="text-center" style="font-size: 21px;">Reset password</h2>
          <div class="form-group"><input class="form-control" type="email" name="email" [(ngModel)]="data.email" placeholder="Email"></div>
          <div class="form-group"><input class="btn btn-primary btn-block" value="Reset" type="submit" /></div>
          
        </form>
  </div>
</div>