<section style="width:1024px; margin:20px auto">
    <h2>TERMS &amp; CONDITIONS</h2>

    <p><strong>Last updated: June 26, 2019</strong></p>
    
    <p>These General Terms of Service (“General Terms”) are a legal agreement between you (“you,” “your”) and Square, Inc. and/or Square Capital, 
      LLC (”Square,” “we,” “our” or “us”) and govern your use of Square’s services, including mobile applications, websites, software, hardware, and 
      other products and services (collectively, the “Services”). If you are using the Services on behalf of a business, you represent to us that you have 
      authority to bind that business or entity to these terms, and that business accepts these terms. By using any of the Services, you agree to these General 
      Terms and any policies referenced within (“Policies”), including terms that limit our liability (see Section 18) and require individual arbitration 
      for any potential legal dispute (see Section 21). You also agree to any additional terms specific to Services you use (“Additional Terms”), 
      such as those listed below, which become part of your agreement with us (collectively, the “Terms”). You should read all of our terms carefully.</p>
</section>

<section style="width:1024px; margin:20px auto">
  <h4 style='text-align: center'>A. OWNERS</h4>
  <ol>
    <li><p>In filling out the application form, to supply his/her, their motor vehicle in the pool of
        vehicles available for use for the purposes required by “Click &amp; Go” the owner is to
        provide a valid government of Jamaica issued identification such as a current Driver’s
        Licence and /or a Passport As well as an up to date Police Record.</p></li>

    <li><p>Where the Driver of the vehicle will not be the owner, then valid identification
        documents as those mentioned at 1 above will also be required for the person who will be
        driver as well as an up to date Police Record.</p>
        <ol>
          <li><p>Each person engaged as a driver including the owner shall be the holder of a valid
              driver’s licence which permits him to drive a Public Passenger Vehicle and which is not
              less than 3 years old Save and Except, that where the licence is less than three (3) years
              old, the name of the Driver should be included in the policy of Insurance in respect of
              that vehicle.</p></li>
        </ol></li>

        <li><p>Where the owner engages the services of another driver, he is required to so advise ‘Click
            &amp; Go’ and to provide all the documents mentioned at 1 &amp; 2 above in respect of the new
            driver.</p></li>

        <li>Both owner and driver must be 18 years or older and hereby attest that they are above the
            age of 18 years.</li>

        <li><p>All drivers including the owner when he or she is the driver are required to have a Badge
            issued by the Transport Authority of Jamaica, and such Badge is to be in his or her
            possession while operating the vehicle in the services of ‘Click &amp; Go’.</p></li>

        <li><p>Drivers are required to wear Polo shirts, regular T-shirts or the uniform stipulated by the
            Transport Authority of Jamaica, provided that in no circumstances any of the shirts shall
            have vulgar, indecent or unlawful images and words printed on them.</p></li>

        <li><p>The drivers are permitted to wear black or blue jeans pants. However, such pants shall
            not have portions thereof cut out in a manner that exposes the skin of the individual
            wearing same and are required to maintain a 4.0 service rating by the customers.</p></li>

        <li><p>The vehicles engaged by Click &amp; Go shall be no older that eight (8) years old and the
            body type must either be Sedan or Wagon.</p></li>

        <li><p>Each owner is required to maintain an account with the National Commercial Bank of
            Jamaica Limited, the number of which will be provided to Click &amp; Go for monies due for
            services rendered to be deposited thereto. Such payments are due once per week on a
            Thursday and bills submitted for work done on a Thursday will be paid the following
            Thursday.</p></li>

        <li><p>Click &amp; Go will be entitled to twenty percent (20%) of the sum received for each trip
            provided by the owner of the vehicle and will take same prior to depositing the balance to
            the account provided by the owner where payment is made by credit or debit card. Where
            payment is made by cash directly to the owner/driver the owner will pay over the 20% to
            which Click &amp; Go is entitled by depositing same forthwith to account number
            at the branch of National Commercial Bank Jamaica Limited.</p>
          
            <p>Where the owner fails to pay over the 20% in the manner required where payment is by
                cash, Click&amp; Go will be entitled to withdraw and withhold such amount from any amount
                due to the owner.</p>
          </li>

          <li><p>Owners of the vehicles engaged by Click &amp; Go are at all times Independent Contractors
              and not employees of Click &amp; Go. As such each owner is responsible for the payment of
              their taxes and all other statutory payments required by law and Click &amp; Go is under no
              legal duty to make tax returns on their behalf.</p></li>

              <h4>TERMINATION OF AGREEMENT</h4>

  <p>The agreement between Click &amp; Go and the owner of the vehicles involved in the operation of
      the business may be terminated in the following ways:-</p>

      <ul>
        <li>By mutual agreement;</li>
        <li>By Click &amp; Go at any time without reason;</li>
        <li>Upon the discretion of Click &amp; Go where there is any violation of the requirements
            on the part of the owner and/or the Driver of the vehicle.</li>
      </ul>

  <p>Where such termination occurs the Owner will be paid for the period scheduled for payment to
      be made if the arrangement had not been terminated.</p>

      <li><p>Persons who are desirous of using the App to secure transportation must be 18 years and
          older in order to become an account holder with Click &amp; Go.</p></li>

    <li><p>The user undertakes that all information provided in support of his/her application is
        correct and agrees that if false information is provided deliberately or negligently, Click
        &amp; Go is entitled to disable the account forthwith and if the circumstances require, deem it
        a breach of contract and in the event that the user had submitted a claim to Click &amp; Go,
        refuse to honour same.</p></li>

    <li><p>Where a user requests the services of a driver and the driver responds and is enroute to
        pick up the user, and the latter then cancels the request, a charge of $500.00 will be
        imposed on the user and applied against the account on the first subsequent request
        thereafter.</p>
        <p>When the user applies for service from Click &amp; Go, the maximum in-put time for
            completing the request is five (5) minutes at the expiration of which the process will
            automatically “time out” and, if he /she so desires, the user will have to restart the
            process.</p>
        <p>Where there is a change in price between the initiation of the process and the time-out
            before completion, there upon re-starting the application process, the new price will be
            the applicable price for that transaction.</p>
      </li>  
        
    <li><p>Where the driver responds to request and arrives at the agreed pick-up point, the
        maximum waiting time for the pick-up to occur shall be ten (10) minutes at the expiration
        of which the driver will be entitled to leave without making the pick-up if the user fails to
        show up for the journey and a fee of $1,000.00 will be charged against the user’s account
        for payment to be made upon the first subsequent request for the use of a vehicle by the
        user.</p></li>

    <li><p>If while riding in a vehicle engaged in the service provided by Click &amp; Go, the said
        vehicle is involved in an accident the user is required to make a report to Click &amp; Go and,
        where injury is sustained by the user as a result of the accident, to Click &amp; Go, the Police
        and the Insurer of the vehicle involved and all claims for compensation are to made
        against the driver, owner and the Insurer. Click &amp; Go will not accept liability in such
        cases.</p></li>

    <li><p>Where the user requests the use of a vehicle and that vehicle does not show up to
        transport him or her then a full refund will be made and noted on the User’s account.</p></li>

    <li><p>In addition to the circumstances outlined at 13 above, Click &amp; Go may at time disable the
        account of the user and refuse to continue to make the use of the application available to
        that user without having to provide a reason for doing so.</p></li>

        <h4>PRIVACY POLICY</h4>

        <p>The Principal of Click &amp; Go hereby undertakes not to divulge any information gathered by Click
            &amp; Go as a result of the Users and/or Owners banking information to anyone unless required by
            law so to do or, where applicable, with the consent of the user or owner.</p>

  </ol>
</section>

<app-footer></app-footer>