
<div>
  <div class="header-blue">
      <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search" style="height: 55px;">
          <div class="container" style="max-width: 1194px; margin: 0px auto">
              <a class="navbar-brand" href="#" style="margin-right: 0px;height: 60px;padding-bottom: 0px;padding-top: 18px;">
                  <h2 class="text-center logo" style="margin-bottom: 0px;height: 43px;font-size: 14px;"><strong>Click &amp; Go</strong></h2>
              </a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="navcol-1">
                  <ul class="nav navbar-nav">
                      <li class="dropdown nav-item" style="margin-left: 329px;"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#" style="font-size: 12px;padding-left: 76px;">Welcome John!</a>
                          <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">Administrator</a><a class="dropdown-item" role="presentation" href="#"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></a>
                              <a
                                  class="dropdown-item" role="presentation" href="#">Active since 25.05.19</a>
                                  <div class="dropdown-divider" role="presentation" style="background-color: #180707;"></div>
                                  <a class="dropdown-item" role="presentation" style="font-size: 16px; cursor: pointer" href='/dash'><i class="material-icons"  style="font-size: 12px;margin-bottom: 0px;margin-top: 0px;">dashboard</i>&nbsp; Dashboard</a>
                                  <a class="dropdown-item" role="presentation" ><i class="material-icons" routerLink='/owner' style="font-size: 12px;">email</i>&nbsp; Add Owner Operator</a>
                                  <a class="dropdown-item" role="presentation" href="#"><i class="material-icons" style="font-size: 12px;">email</i>&nbsp; Add Admin</a></div>
                      </li>
                  </ul>
                  <form class="form-inline mr-auto" target="_self">
                      <div class="form-group"><label for="search-field"><i class="fa fa-search" style="font-size: 12px;"></i></label><input class="form-control search-field" type="search" id="search-field" name="search"></div>
                  </form><span class="navbar-text"> <a class="login" href="#"></a><i class="far fa-bell" style="font-size: 12px;color: #ffffff;"></i></span></div>
          </div>
      </nav>
  </div>
</div>

<div class="register-photo" style="height: 810px;">
  <div class="form-container" style="width: 341px;margin-top: 9px;height: 524px;">
      <form method="post" style="height: 519px;" (ngSubmit)="createOwnerOperator()" >
          <h2 class="text-center logo" style="margin-bottom: -5px;height: 53px;"><strong>Click &amp; Go</strong></h2>
          <h2 class="text-center" style="width: 549px;"><strong>Enter these details to complete owner's profile.</strong></h2>
          <div class="form-group">
            <input class="form-control d-inline-flex" type="text" name="firstname" placeholder="First name" [(ngModel)]="data.FirstName" style="background-color: rgba(201,200,200,0.24);width: 150px;">
            <input class="form-control d-inline-flex" type="text" name="middlename" placeholder="Middle Name" [(ngModel)]="data.Middle" style="width: 150px;margin-left: 44px;">
            <input class="form-control d-inline-flex" type="email" name="lastname" placeholder="Last Name" [(ngModel)]="data.LastName" style="width: 150px;margin-left: 44px;">
            <input class="form-control d-inline-flex" type="email" name="streetaddress" placeholder="Street Address" [(ngModel)]="data.Address" style="width: 150px;margin-left: 0px;">
            <input class="form-control d-inline-flex" type="email" name="district" placeholder="District" [(ngModel)]="data.District" style="width: 150px;margin-left: 44px;">
            <input class="form-control d-inline-flex" type="email" name="city" placeholder="City/Town" [(ngModel)]="data.City" style="width: 150px;margin-left: 44px;">
            <input class="form-control d-inline-flex" type="email" name="parish" placeholder="Parish" [(ngModel)]="data.Parish" style="width: 150px;margin-left: 0px;">
            <input class="form-control d-inline-flex" type="email" name="country" placeholder="Country" [(ngModel)]="data.Country" style="width: 150px;margin-left: 44px;">
            <input class="form-control d-inline-flex" type="text" name="trn" placeholder="TRN" [(ngModel)]="data.Trn" style="width: 150px;margin-left: 44px;">

                <select class="form-control d-inline-flex"  id="gender" name="gender" style="width: 150px;"  [(ngModel)]="data.Gender" >
                    <option selected="true" [value]="undefined">Gender</option>
                    <option *ngFor="let gender of genders" [value]="gender.value">{{gender.title}}</option>
                </select>
              
            <mat-form-field style="margin-left: 44px;">
                <input matInput [matDatepicker]="picker" [(ngModel)]="data.DOB" name='DOB' placeholder="Birth Date MM/DD/YYYY">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
                <input class="form-control d-inline-flex" type="email" name="email" placeholder="Email" [(ngModel)]="data.Email" style="width: 350px;margin-left: 0px;">
                  <button
                      class="btn btn-primary btn-block d-inline-flex" type="submit" style="width: 162px;margin-top: 10px;margin-left: 43px;padding-left: 51px;">Continue</button>
          </div><a class="already" style="color:black">NB - Section 124,125,126 and 127 of the Road Traffic Regulation and section 22 of the Road Traffic</a></form>
  </div>
</div>



<footer id="footerpad" style="padding-top: 20px;background-color: rgb(0,0,0);margin-top: 8px;" >
  <div class="container" style="max-width: 1194px; margin: 0px auto">
      <div class="row">
          <div class="col-md-6 col-lg-8 mx-auto">
              <ul class="list-inline text-center">
                  <li class="list-inline-item"><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a></li>
                  <li class="list-inline-item"><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a></li>
                  <li class="list-inline-item"><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-instagram fa-stack-1x fa-inverse"></i></span></a></li>
                  <li class="list-inline-item"><a href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-pinterest fa-stack-1x fa-inverse"></i></span></a></li>
              </ul><p class="copyright text-muted text-center">Copyright &copy; Click & Go 2019 | Web Design by Mystic Lights Studios</p></div>
      </div>
  </div>
</footer>