<div>
  <div class="header-blue">
      <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search" style="height: 55px;">
          <div class="container" style="max-width: 1194px; margin: 0px auto">
              <a class="navbar-brand" href="#" style="margin-right: 0px;height: 60px;padding-bottom: 0px;padding-top: 18px;">
                  <h2 class="text-center logo" style="margin-bottom: 0px;height: 43px;font-size: 14px;"><strong>Click &amp; Go</strong></h2>
              </a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="navcol-1">
                  <ul class="nav navbar-nav">
                      <li class="dropdown nav-item" style="margin-left: 329px;"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" style="font-size: 12px;padding-left: 76px;">Welcome!</a>
                          <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" >Administrator</a><a class="dropdown-item" role="presentation" ><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i></a>
                              
                                  <div class="dropdown-divider" role="presentation" style="background-color: #180707;"></div>
                                  <a class="dropdown-item" role="presentation" style="font-size: 16px;"><i class="material-icons" style="font-size: 12px;margin-bottom: 0px;margin-top: 0px; cursor: pointer;" href='/dash' >dashboard</i>&nbsp; Dashboard</a>
                                  <a class="dropdown-item" role="presentation" routerLink='/owner' style='cursor: pointer;'><i class="material-icons"  style="font-size: 12px;">email</i>&nbsp; Add Owner Operator</a>
                                  <a class="dropdown-item" role="presentation" ><i class="material-icons" style="font-size: 12px;">email</i>&nbsp; Add Admin</a>
                                  <a class="dropdown-item" role="presentation" (click)='logout()'><i class="material-icons" style="font-size: 12px;">email</i>&nbsp; Logout</a></div>
                      </li>
                  </ul>
                  <form class="form-inline mr-auto" target="_self">
                      <div class="form-group"><label for="search-field"><i class="fa fa-search" style="font-size: 12px;"></i></label><input class="form-control search-field" type="search" id="search-field" name="search"></div>
                  </form><span class="navbar-text"> <a class="login" href="#"></a><i class="far fa-bell" style="font-size: 12px;color: #ffffff;"></i></span></div>
          </div>
      </nav>
  </div>
</div>