<div class="register-photo">
    <div class="form-container" style="width: 341px;margin-top: -72px;height: 504px;">
        <form method="post" style="height: 509px;" (ngSubmit)='addDriverInfo()' #driverForm="ngForm">
            <h2 class="text-center logo" style="margin-bottom: -16px;height: 53px;margin-top: -22px;"><strong>Click &amp; Go</strong></h2>
            <h2 class="text-center" style="width: 549px;"><strong>Register Your Driver</strong></h2>
            <h2 class="text-center" style="width: 549px;font-size: 11px;margin-bottom: -1px;margin-top: -23px;"><strong>Driver Information Must Match Driver's License</strong></h2>
            <div class="form-group">
                <mat-form-field appearance="outline" >
                    <mat-label>First Name</mat-label>
                    <input matInput type="text" name="firstname" [(ngModel)]="driver.FirstName" placeholder="First Name" >
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Middle Name</mat-label>
                    <input matInput type="text" name="middlename" [(ngModel)]="driver.MiddleName" placeholder="Middle Name" >
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput type="text" name="lastname" [(ngModel)]="driver.LastName" placeholder="Last Name" >
                </mat-form-field>
              
              
              <mat-form-field style="width: 150px;margin-left: 0px;">
                  <input matInput [matDatepicker]="picker2" [(ngModel)]="driver.DateIssued" name='dateIssued' placeholder="Date Issued">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>

              <mat-form-field style="width: 150px;margin-left: 44px;">
                  <input matInput [matDatepicker]="picker3" [(ngModel)]="driver.DateExpired" name='dateExpired' placeholder="Date Expired">
                  <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                  <mat-datepicker #picker3></mat-datepicker>
              </mat-form-field>
              
              <select class="form-control d-inline-flex"  id="gender" name="gender" [(ngModel)]="driver.Gender" style="width: 150px;margin-left: 20px"  >
                <option selected="true" [value]="undefined">Gender</option>
                <option *ngFor="let gender of genders" [value]="gender.value">{{gender.title}}</option>
            </select>
            <mat-form-field appearance="outline">
                <mat-label>Class</mat-label>
                <input matInput type="email" name="class" [(ngModel)]="driver.Class" >
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>TRN</mat-label>
                <input matInput type="email" name="trn" [(ngModel)]="driver.Trn"  >
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Collectorate</mat-label>
                <input matInput type="email" name="policerecord" [(ngModel)]="driver.Collectorate" >
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Street Address</mat-label>
                <input matInput type="email" name="streetAddress" [(ngModel)]="driver.Address.street">
            </mat-form-field>  
              
            <mat-form-field appearance="outline">
                <mat-label>District</mat-label> 
                <input matInput type="email" name="street" [(ngModel)]="driver.Address.district" >
            </mat-form-field>    
              
            <mat-form-field appearance="outline">
                <mat-label>City / Town</mat-label> 
                <input matInput type="text" name="city" [(ngModel)]="driver.Address.city" >
            </mat-form-field> 
            
            <mat-form-field appearance="outline">
                <mat-label>Parish</mat-label> 
                <input matInput type="text" name="parish" [(ngModel)]="driver.Address.parish"  >
            </mat-form-field> 
              
            <mat-form-field appearance="outline">
                <mat-label>Country</mat-label> 
                <input matInput type="text" name="country" [(ngModel)]="driver.Address.country" >
              
            </mat-form-field>

              <mat-form-field style="margin-left: 18px; width: 160px">
                  <input matInput [matDatepicker]="picker1" [(ngModel)]="driver.DOB" name='dob' placeholder="Date of Birth">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline" style='width:400px'>
                  <mat-label>License to Drive</mat-label> 
                  <input matInput type="email" name="age" [(ngModel)]="driver.LicenseToDrive" >      
                
              </mat-form-field>
                          
              <p style="margin-bottom: -1px;margin-top: 17px;">N.B. Drivers licences must be at least 3 years old and 
              all all drivers are required to apply for a police record before account is approved</p>
              
              <div class="form-check" style="margin-top: 15px;">
                <input class="form-check-input" type="checkbox" id="formCheck-2" name='informationAccurate' [(ngModel)]="driver.InformationAccurate" value='true'><label class="form-check-label"  for="formCheck-2">The above information is true and accurate to the totality of my knowledge</label></div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="formCheck-2" name='terms' [(ngModel)]="driver.Terms" value='true'><label class="form-check-label" for="formCheck-2">I've read and accept the terms and conditions, privacy policy and cookies policy</label></div>
                
                <input class="btn btn-primary btn-block d-inline-flex" type="submit" value='Continue' style="width: 162px;margin-top: 22px;margin-left: 195px;padding-left: 51px;"></div></form>
    </div>
</div>