/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.text-center.logo {
  /*background-color: #630c0c;*/
  height: 114px;
}

.col-sm-6.col-md-5.col-lg-4.item {
  width: 426px;
}

.firstbox {
  background-color: #ffffff;
  width: 775px;
  height: 320px;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #f44c04;
  text-decoration: none;
  background-color: #f8f9fa;
}

.table thead th {
  color: rgb(255,255,255);
  font-size: 12px;
}

.table td, .table th {
  color: rgb(255,255,255);
  font-size: 12px;
}

@media (min-width:768px) {
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.table-responsive.fleet-table {
  max-height: 200px;
  /*overflow-y: auto;*/
}

sc-overflow {
  overflow-y: auto;
}

.d-inline-flex {
}

.d-inline-flex {
}

.d-inline-flex {
}

.h5, h5 {
  color: rgb(139,255,111);
  width: 261px;
  font-size: 12px;
  margin-top: 12px;
}

.h4, h4 {
  font-size: 12px;
}

